#projects {
    background: var(--white);
    width: 100vw;
    height: 100%;
    padding: 50px 0rem;
    position: relative;
    z-index: 2;
    /* margin-bottom: 255px; */
}

.projects-container {
    padding: 0rem 2rem;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.projects__intro {
    margin-bottom: 2rem;
}

.projects__intro h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: bold;
    text-shadow: var(--text-shadow);
    color: var(--primary-d2);
}

.projects__intro h2 {
    color: var(--primary);
    font-family: var(--font-handwritten);
    font-weight: normal;
    font-size: 1.15rem;
}

.projects__intro h2 a {
    color: var(--secondary);
    text-decoration: none;
    /* font-weight: bold; */
    position: relative;
}

.projects__intro h2 a::before{
    content: '';
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary);
    transition: width 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.projects__intro h2 a:hover::before,
.projects__intro h2 a:focus::before,
.projects__intro h2 a:focus-within::before {
    left: 0;
    right: auto;
    width: 100%;
}

.projects__intro h2 a:focus,
.projects__intro h2 a:focus-visible,
.projects__intro h2 a:focus-within {
    outline: none;
}

.projects {
    display: flex;
}

.project-container {
    min-height: 400px;
    height: 100%;
    width: 100%;
    max-width: 500px;
}

#project-a-container {
    margin-right: 4rem;
}

.project {
    min-height: 400px;
    height: 100%;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 3rem;
    transition: .3s;
}

#projectA {
    border-radius: var(--border-radius);
}

#projectB {
    border: 1px solid var(--primary-d2);
    border-radius: var(--border-radius);
}

.project:hover figure {
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2)

}

.project__image-container {
    position: absolute;
    min-height: 400px;
    height: 100%;
    width: 100%;
    max-width: 500px;   
    border-radius: var(--border-radius);
    transition: .3s;
}

.brightness-down {
    filter: brightness(75%);
}

.project__image-container figure {
    min-height: 400px;
    height: 100%;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    border-radius: var(--border-radius);
    /* box-shadow: var(--box-shadow); */
    filter: brightness(.95);
}

.project__image-container figure.tellem {
    background: url("/assets/tellemScreenshot.PNG");
    background-size: cover;
    background-position: center;
}

.project__image-container video.tellem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.project__image-container video.shift {
    object-position: 75% 50% !important;
}

#video-toggle {
    position: absolute;
    top: 1rem;
    right: 2.5rem;
}

#video-toggle button {
    display: none;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#tellem-video.playing {
    object-position: 75% 50% !important;
}

/* #video-toggle button:hover {
    background: ;
} */

#video-toggle button i {
    font-size: .75rem;
}

#video-toggle button.show {
    display: flex;
}

.project__image-container figure.jason {
    background: url("/assets/JakeIkola.PNG");
    background-size: cover;
    background-position: center;
}

.project__image-container figure img {
    visibility: hidden;
}

.project__text {
    min-height: 400px;
    height: 100%;
    width: 100%;
    max-width: 500px;
    transition: .3s;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.project__text h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .25rem;
    text-shadow: var(--text-shadow);
    width: 100%;
}

.project__text .card {
    position:absolute;
    line-height: var(--line-height);
    box-shadow: var(--box-shadow);
    background: var(--primary-d2);
    color: var(--white);
    min-height: 320px;
    height: 100%;
    width: 100%;
    max-width: 500px;
    top: 100%;
    transition: .3s;
    text-align: left;
    border-radius: var(--border-radius);
}

.project:hover {
    box-shadow: var(--box-shadow);
}

.project__card-list ul {
    display: block;
    margin-bottom: .25rem;
}

.project__card-list ul li {
    margin-right: 10px;
    opacity: .75;
    font-style: italic;
    font-size: .75rem;
    display: inline-block;
}

.project__card-text {
    padding: 1rem;
    margin-top: 20px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project__text .button-container {
    position: absolute;
    top: 80%;
}

.project__text .project-text-button {
    position: absolute;
    top: 80%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: var(--dark);
    transition: .3s;
    margin-left: -25px;
    z-index: 2;
    transform: rotate(0deg);
    box-shadow: var(--box-shadow);
    background: var(--white);
}


.project__text .card.visible {
    top: 20%;
}

.project__text button.turned {
    transform: rotate(45deg);
}

.project__text button.pulled {
    top: calc(20% - 25px);
}

.project__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: .5rem;
    text-align: right;
}

.project__links a {
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: .75rem;
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: fit-content;
    transition: .3s;
    cursor: pointer;
    text-decoration: none;
    color: var(--white);
    background: transparent;
    text-transform: inherit;
}

.project__links a:hover,
.project__links a:focus,
.project__links a:focus-within {
    color: var(--secondary) !important;
    outline: none;
}

.projects-container .project .project-links a::before{
    content: '';
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary);
    transition: width 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.projects-container .project .project-links a:hover::before,
.projects-container .project .project-links a:focus::before,
.projects-container .project .project-links a:focus-within::before {
    left: 0;
    right: auto;
    width: 100%;
}

.projects-container .project .card .tech-container ul {
    max-width: 500px;
    margin-bottom: .25rem;
}

.projects-container .project .card .tech-container ul li {
    display: inline-block;
    margin-right: 5px;
    color: var(--white-d);
    font-style: italic;
    font-size: .75rem;
}

@media screen and (max-width: 700px) {
    .projects {
        flex-direction: column !important;
        align-items: center;
    }

    #project-a-container {
        margin-right: 0rem !important;
    }
}