#splash {
    background: var(--primary-d2);
    width: 100vw;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.splash-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-width: 1000px;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mobile-background {
    display: block;
    background: var(--primary);
    transform: skew(-14deg) translateX(-150%);
    width: 120vw;
    height: 100vh;
    position: absolute;
    transition: .3s;
    z-index: 5;
    box-shadow: var(--box-shadow);
}

.mobile-background.visible {
    transform: skew(-14deg) translateX(-25%);
}

/* Shapes can be found in /shapes.css */

header {
    position: absolute;
    top: 0%;
    right: 0%;
}

.mobile-nav-container {
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
    display: none;
    position: relative;
    top: 1rem;
    right: 2rem;
    transition: .3s;
    z-index: 6;
    flex-direction: column;
    align-items: flex-end;
}

.clickable-mobile-container {
    cursor: pointer;
    opacity: .75;
    transition: .3s;
}

.clickable-mobile-container:hover {
    opacity: 1 !important;
}

.mobile-icon {
    width: 30px;
    height: 30px;
    margin-right: 0px;
    right: 0;
}

.mobile-icon i {
    opacity: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    right: .25rem;
}

.mobile-icon i.visible {
    opacity: 1 !important;
}

.mobile-nav-container span {
    font-size: .9rem;
    top: -3px;
    position: relative;
    font-family: var(--font-handwritten);
}

#splash-nav {
    position: relative;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 2rem;
    z-index: 5;
    font-weight: bold;
    margin-right: 10px;
    font-size: 1.15rem;
    transition: .3s;
    opacity: 0;
}

#splash-nav.visible {
    opacity: 1;
}

#splash-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

#splash-nav.mobile ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    margin-left: 1rem;
}

.splash-nav__list-item {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.nav-link {
    opacity: 1;
    position: relative;
    color: var(--white-d);
    text-decoration: none;
    transition: .5s ease;
    display: block;
    text-decoration: none;
    font-size: 1.15rem;
    margin-right: 1rem;
    padding: 0rem;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:focus-within {
    color: var(--secondary) !important;
    border: none;
    outline: none;
}

.nav-link::before{
    content: '';
    position: absolute;
    bottom: -8px;
    right: 0;
    width: 0;
    height: 3px;
    background-color: var(--secondary);
    transition: width 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.nav-link:hover::before,
.nav-link:focus::before,
.nav-link:focus-within::before {
    left: 0;
    right: auto;
    width: 100%;
}

.splash-hero {
    position: relative;
    z-index: 2;
    max-width: 500px;
    color: var(--white);
    opacity: 1;
    transition: .3s;
    transform: translateX(0px) translateY(0px);
}

/* Prep group for load in animation */
.splash-hero h1,
.splash-hero p,
.splash-hero span {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.splash-hero h1:after,
.splash-hero p:after,
.splash-hero span:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary);
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.splash-hero h1:before,
.splash-hero p:before,
.splash-hero span:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-d2);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.splash-hero h1::before,
.splash-hero h1::after{
    animation-delay: 2s;
}

.splash-hero p::before,
.splash-hero p::after{
    animation-delay: 2.5s;
}

.splash-hero span::before,
.splash-hero span::after{
    animation-delay: 3s;
}


.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

.splash-hero h1 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: var(--text-shadow);
    padding-bottom: .5rem;
}

.splash-hero p {
    font-size: 1.25rem;
    text-shadow: var(--text-shadow);
    margin-bottom: .5rem;
    line-height: var(--line-height);
}

.splash-hero span {
    font-family: var(--font-handwritten);
    opacity: .75;
    color: var(--white-d);
    font-size: 1rem;
}

@media screen and (max-width: 550px) {
    #splash-nav {
        opacity: 0;
    }

    #splash-nav ul {
        display: none;
    }

    .nav-link{
        font-size: 2rem;
    }

    .mobile-nav-container {
        display: flex;
    }

    .splash-hero h1 {
        font-size: 3rem;
    }
}